.contact-form-container {
  padding: 20px 0 0 20px;
}

.contact-form-label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(33, 33, 33);
}

.contact-form-input {
    display: block;
    margin-bottom: 20px;
    width: 25%;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 5px;
    font-size: 12px;
    padding: 5px;
}

.contact-form-message-input {
    display: block;
    margin-bottom: 20px;
    width: 40%;
    height: 100px;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid rgb(175, 175, 175);
    padding: 5px;
}

.contact-form-input:focus {
    outline: none;
}

.contact-form-message-input:focus {
    outline: none;
}

.contact-form-submit-button {
    text-decoration: none;
    border: none;
    color: white;
    background-color: #00a8cc;
    padding: 7.5px 5px;
    width: 80px;
    text-align: center;
    border-radius: 2.5px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
}

.contact-form-error-message {
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 10px 0;
    color: red;
}